<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Friendship Meter</title>
  </head>

  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

  <link href="http://127.0.0.1:8017/assets/index.css" rel="stylesheet">

  <body>
    
    <div class="message_holder"></div>

<div class="form-style-10">
    <form action="friendship-meter" method="post">
        <div class="section"><span>*</span>Friendship Meter</div>
        <div class="inner-wrap">
            <label>Your Name <input type="text" name="name1" /></label>
        </div>
        <div class="inner-wrap">
            <label>Your Friend's Name <input type="text" name="name2" /></label>
        </div>

        <input type="submit" value="Let's find id dude!"/>
</form>
</div>
    

  </body>
  </html>